{% extends "base.html" %}
{% block content_header %}
<h1>Server Stats</h1>
{% endblock %}
{% block content_body %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Server Stats</h3>
    </div>
    <div class="box-body">
    </div>
    <div class="box-footer text-black">
        <div class="row">
            {% for server in servers %}
            <div class="col-sm-12">
                <!-- Progress bars -->
                <div class="clearfix">
                    <span class="pull-left">{{ server }}</span>
                </div>
                <div class="progress">
                    <div id="{{ server | get_progress_id }}" class="progress-bar progress-bar-striped progress-bar-warning" style="width: 100%;"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
 <script type="text/javascript">
    function get_servers_state() {
        $.ajax({
            type: 'GET',
            url: 'http://' + window.location.host + '/api/projects/get_server_list',
            async: false,
            success: function (servers) {
                for (index in servers) {
                    var parser = document.createElement('a');
                    parser.href = servers[index];
                    !(function(parser){
                        $.ajax({
                            type: 'GET',
                            url: parser.href,
                            dataType: 'jsonp',
                            async: true,
                            timeout: 3000,
                        }).always(function (jqXHR) {
                            var progressColorClass = "progress-bar-warning";
                            var port = parser.port ? parser.port : 'None';
                            var progress_obj = document.getElementById("progress-bar-" + parser.hostname + "-" + port);
                            if (jqXHR && progress_obj){
                                progress_obj.classList.remove('progress-bar-striped','progress-bar-warning');
                                if (jqXHR.status==200){
                                    progressColorClass = ("progress-bar-success")
                                } else{
                                    progressColorClass = ("progress-bar-danger")
                                }
                                progress_obj.classList.add(progressColorClass)
                            }
                        });
                    })(parser);
                }
            }
        });
    }

    window.onload = function (){
        get_servers_state();
        setInterval(get_servers_state, 1000 * 10);
    }
 </script>
{% endblock %}