{% extends "base.html" %}
{% block content_header %}
<h1>Server Stats</h1>
{% endblock %}
{% block content_body %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Server Stats</h3>
    </div>
    <div class="box-body">
    </div>
    <div class="box-footer text-black">
        <div class="row">
            {% for server in servers %}
            <div class="col-sm-12">
                <!-- Progress bars -->
                <div class="clearfix">
                    <span class="pull-left">{{ server }}</span>
                </div>
                <div class="progress">
                    <div id="{{ server | get_progress_id }}" class="progress-bar progress-bar-striped progress-bar-warning" style="width: 100%;"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
 <script type="text/javascript">
    function get_servers_state() {
        $.ajax({
            type: 'GET',
            url: 'http://' + window.location.host + '/api/projects/get_server_list',
            dataType: 'json',
            async: false,
            success: function (servers) {
                for (index in servers) {
                    var parser = document.createElement('a');
                    parser.href = servers[index];
                    !(function(parser){
                        $.ajax({
                            type: 'GET',
                            url: parser.href,
                            dataType: 'json',
                            async: true,
                            timeout: 3000,
                        }).done(function (data) {
                            var progress_obj = $("#progress-bar-" + parser.hostname + '-' + parser.port);
                            progress_obj.removeClass('progress-bar-striped');
                            progress_obj.removeClass('progress-bar-warning');
                            progress_obj.addClass("progress-bar-success")
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            var progress_obj = $("#progress-bar-" + parser.hostname + '-' + parser.port);
                            progress_obj.removeClass('progress-bar-striped');
                            progress_obj.removeClass('progress-bar-warning');
                            progress_obj.addClass("progress-bar-danger")
                        });
                    })(parser);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    window.onload = get_servers_state
 </script>
{% endblock %}